<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Car</title>
</head>
<body>
<div class="container">
    <h1>Add new car</h1>
    <form action="#" th:action="@{/create/car}" method="POST">

        <label for="license-number">License number:</label>
        <input id="license-number" name="car-license" type="text"><br>

        <label for="status">Status:</label>
        <input id="status" name="car-status" type="text"><br>

        <label for="brand">Brand:</label>
        <input id="brand" name="car-brand" type="text"><br>

        <label for="model">Model:</label>
        <input id="model" name="car-model" type="text"><br>

        <label for="fuel-type">Fuel Type:</label>
        <input id="fuel-type" name="car-fuel-type" type="text"><br>

        <label for="registration-date">Registration Date:</label>
        <input id="registration-date" name="car-registration-date" type="date"><br>

        <label for="km-driven">Km Driven:</label>
        <input id="km-driven" name="car-km-driven" type="number"><br>

        <label for="group">Group:</label>
        <input id="group" name="car-group" type="number"><br>

        <input type="submit" value="submit">
    </form>
</div>
</body>
</html>