<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" href="../static/css/styles.css">
</head>
<body>
<div class="container">
    <a href="/view/cars">View All Cars</a><br>
    <a href="/create/car">Add New Car</a><br>
    <a href="/view/customers">View All Customers</a><br>
    <a href="/create/customer">Add New Customer</a><br>
</div>

</body>
</html>